@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

body {
    /*imagem pirncipal*/
    background-image: url("../img/pagina02.jpg");
    background-color: rgb(174, 255, 231);
    background-size: cover;
    background-repeat: no-repeat;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-weight: 400;
}

:root {
    /*core3s do site*/
    --pincipal: #D99797;
    --texto: #000000;
    --secundaria: #FF6347;

}

picture {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    height: 100%;

}

h3 {
    color:var(--texto);
    text-align: right;
    font-size: 15px;
    line-height: 1.5rem;
}
main img{
    width: 200px;
}
#to{
    width: 250px;
}

main.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5rem;
    justify-content: center;
}

footer {
    background-color: none;
    height: 3rem;
    position: fixed;
    bottom: 0%;

}

footer img {
    height: 100%;
    padding: 0.4rem;

}