  @media (max-width: 500px) {



     :root {
         /*core3s do site*/
         --pincipal: #D99797;
         --texto: #FFF;
         --secundaria: #FF6347;

     }

     .menu .menu-faketrigger {
         position: absolute;
         z-index: 1000;
         width: 35px;
         opacity: 0;
         cursor: pointer;
     }


     .menu .menu-lines {
         position: absolute;
         z-index: 999;
         width: 35px;
         height: 35px;
     }

     .menu .menu-lines span {
         display: block;
         width: 35px;
         height: 5px;
         margin-bottom: 10px;
         background-color: var(--secundaria);
         border-radius: 3px;
         transition: all ease .2s;
     }

     .manu .menu-faketrigger:checked~.manu-lines span {
         background-color: var(--texto);
     }

     .menu .menu-faketrigger:checked~.manu-lines span:nth-child(1) {
         transform-origin: 0% 0%;
         transform: rotate(45deg) scaleX(1.25);
     }

     .menu .menu-faketrigger:checked~.manu-lines span:nth-child(2) {
         opacity: 0;
     }

     .menu .menu-faketrigger:checked~.manu-lines span:nth-child(3) {
         transform-origin: 0% 100%;
         transform: rotate(-45deg) scaleX(1.25);
     }

     .menu ul {
         position: absolute;
         z-index: 998;
         left: 500px;
         top: 0;
         width: 300px;
         height: calc(100vh- 100px);
         padding-top: 100px;
         background-color: var(var(--secundaria));
         margin-left: -300px;
         transition: all ease .2s;
     }

     .menu .menu-faketrigger:checked~ul {
         margin-left: 0;
     }

     .menu ul li {
         padding: 10px 30px;
     }

     .manu ul li a {
         text-decoration: none;
         color: var(--texto);
         font-size: 22px;
         transition: all ease .3s;
     }

     .manu ul li a:hover {
         background-color: var(--pincipal);
     }
    }