@media(max-width: 1010px){
    main.grid{
        grid-template-columns: auto auto auto;
    }
}

@media(max-width: 768px){
    header{
        height: 4.5rem;
    }
    main #to{
        width: 200px;
    }
    main img{
        width: 150px;
    }
    main.grid{
        grid-template-columns:auto auto ;
        justify-content:start ;
    }
    picture img{
        width: 400px;
        align-items: end;
        margin-top: 900px;
    
    }
     h3{
        align-items: end;
        margin-top: 500px;
  
}
}
footer{
    height: 2,5rem;
}


@media(max-width: 500px){
    main.grid{
        grid-template-columns: auto;
        align-items: center;
        margin-left: 50px ;
        margin-top: 300px;
    }
}
main img{
    width: 300px;
}
main #to{
    width: 320px;
}

picture img{
    width: 300px; ;
    margin-top: 0;

}
h3{
    text-align: start;
    margin-top: 25px;
    font-size: 1rem;

}